a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.number {
  padding-top: 10px;
  color: darkgray;
  font-weight: 400;
}

.detailBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  font-weight: 600;
}
.black-nav {
  display: flex;
  background: black;
  font-size: 24px;
  width: 100%;
  color: white;
  padding-left: 20px;
  height: 80px;
  line-height: 80px;
  margin: auto 0;
}

.likeImg{
  width: 25px;
  padding: 2px 10px 0 10px;
}

.likeNum{
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}

.goBtn {
  border: none;
  border-radius: 7px;
  background: black;
  padding: 5px 10px;
}

.link{
  color: #fff;
  font-weight: 500;
}

.container{
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.totop{
  z-index: 1;
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  right: 30px;
  width: 30px;
}


