div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.number {
  padding-top: 10px;
  color: darkgray;
  font-weight: 400;
}

.detailBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  font-weight: 600;
}
.black-nav {
  display: flex;
  background: black;
  font-size: 24px;
  width: 100%;
  color: white;
  padding-left: 20px;
  height: 50px;
  margin: auto 0;
}

.likeImg{
  width: 22px;
  padding: 0 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
