a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 55px;
}

.visual{
  width: 1920px;
  height: 1080px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.card-img-overlay{
  background-color: black;
  opacity: 0.5;
}

.card-img-overlay > * {
  color: white;
}

.navbar-toggler{
  border: none;
}

#dark-mode {
  background-color: black;
  color: rgb(232, 232, 232);
}

#light-mode {
  background-color: #fff;
  color: black;
}

#dark-mode ul > li > a {
  color: #fff !important;
}

.dark-mode-switch .react-switch-handle {
  background-color: black !important;
}

.light-mode-switch .react-switch-handle {
  background-color: white !important;
}

.card > .card-img-overlay:hover {
  font-size: 28px;
  opacity: 0.7;
  transition: all 0.5s;
}

.totop{
  z-index: 1;
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 20px;
  right: 20px;
  width: 40px;
}
